### align method (x-mapper or minimap2)
align_method = minimap2
align_path = minimap2
align_option = -ax sr

### input data
dir_input = /home/Pooideae_Epichloe/input_dataset/GPWGIII/single
library_type = single

### reference genome 
fa_ref = /home/wenjie/database/genome_data/Epichloe/z.merge.epichloe.genomic.fa
ref_cache_dir = /home/wenjie/database/genome_data/Epichloe

### reference its fa
fa_its = /home/wenjie/database/ITS_unite/UNITE_poaceae_skmming/blast_database/Epichloe_plant.its.fa
fa_its_index = /home/wenjie/database/ITS_unite/UNITE_poaceae_skmming/blast_database/Epichloe_plant.its

### refernece Epichloe festucae Fl1
fa_hq_ref = /home/wenjie/database/genome_data/Epichloe/Epichloe_festucae/GCA_003814445.1_ASM381444v1_cds_from_genomic.fna
fa_hq_index = /home/wenjie/database/genome_data/Epichloe/Epichloe_festucae/GCA_003814445.1_ASM381444v1_genomic.mmi
fa_hq_gff = /home/wenjie/database/genome_data/Epichloe/Epichloe_festucae/GCA_003814445.1_ASM381444v1_genomic.gff
gene_align_path = minimap2

### re assembly
#assembly_option = --only-assembler -m 100
assembly_option =

### global
dir_output = output_GPWGIII_single
threads = 30
dir_scripts = /home/wenjie/code/epichloe_identification/Skimming2Epichloe.util