## please do not leave blank, NA instead
## genome sequence
genome = /home/wenjie/project/Brachypodium_pangenome/0.genome/Bbois3/03.annotation/02.gene_anno/genome.fa
## if you want to use augustus, please add repeatitve sequence hard masked genome 
genome_mask = NA

## threads
threads = 40
parallel_jobs = 8

## denovo (augustus,helixer,annevo)
ab_tools = annevo;helixer
augustus = augustus
augustus_train = BUSCO_genome
helixer = /home/wenjie/software/Helixer/Helixer.py
helixer_species = land_plant
annevo = /home/wenjie/software/ANNEVO/annotation.py
annevo_model = /home/wenjie/software/ANNEVO/ANNEVO_model/ANNEVO_Embryophyta.pt
external_gff = NA

## homology
## input files format required: name.genome.fa/name.genomic.gff
## check your java version
gemoma_java = /home/wenjie/bin/java.gemoma
gemoma = /home/wenjie/software/Gemoma/GeMoMa-1.9.jar
homologs_dir = /home/wenjie/database/genome_gemoma_homo
homologs_species = Barbuscula;Bdistachyon;Bhybridum_ABR113;Bhybridum_Bd26;Bhybridum_ECI;Bmexicanum;Bstacei_ABR114;Bstacei_ECI;Bsylvaticum

## RNA
## input files format required: xxx_1.fq.gz/xxx_2.fq.gz
RNA_dir = /path/to/RNA/data/dir

## integration EVidenceModeler-v2.1.0
EVM = /home/wenjie/software/EVidenceModeler

### dir
script = /home/wenjie/code/annotation/utils
output = gene_prediction