## genome sequence
genome = /home/wenjie/project/Brachypodium_pangenome/z.re_annotation_ref/Bsyl/genome.fa

## threads
threads = 40
parallel_jobs = 10

## softwares
### TRF

trf = /home/wenjie/bin/trf
BuildDatabase = /home/wenjie/software/RepeatModeler-2.0.6/BuildDatabase
RepeatModeler = /home/wenjie/software/RepeatModeler-2.0.6/RepeatModeler
RepeatMasker = /home/wenjie/software/RepeatMasker/RepeatMasker
RepeatProteinMask = /home/wenjie/software/RepeatMasker/RepeatProteinMask
repeat_species = Mesangiospermae  ## if you speceis is not belong to Mesangiospermae, please select the right one

ltr_finder = /home/wenjie/software/LTR_FINDER_parallel/LTR_FINDER_parallel
ltr_retrieve = /home/wenjie/software/LTR_retriever/LTR_retriever
gt = /home/wenjie/bin/gt

### dir
script = /home/wenjie/code/annotation/utils
output = repeat_identification